*{
    box-sizing: border-box;
    align-items: center;
}

body{
    background-color: rgb(250, 215, 139);
    ;
}
.title{
    text-align: center;
    font-family: 'Yellowtail', cursive;
}
.main{
    background-color: rgb(247, 211, 54);
    justify-content: center;
    align-items: center;
    margin: 0 400px 0 400px;
    height: 90vh;
    margin-top: 20px;
    border-radius: 80px;
    border: 5px solid rgb(252, 172, 0);
    box-shadow: 0px 0px 150px 
    
}

.inputs-btns{
    display: flex;
    justify-content: center;
    
    ;

}
.lists {
    text-align: center;
    display: flex;
    

    #list{
       
        text-align: left;
        margin-top: 40px;
        padding-left: 18rem;
        margin-left: 2rem;
        margin-right: 9.375rem;
        font-family: 'Yellowtail', cursive;
        list-style-type: none;
        overflow: auto;
        width: 40.625rem;
        height: 400px;
        border: 5px solid rgb(252, 172, 0);
    box-shadow: 0px 0px 150px    
    }

    li:hover{
        background-color: rgb(201, 201, 201);
        transition: ease-in-out .25s;
        cursor: pointer;
    }
}
.hidden{
    display: none;
}


